/* bookmarking */

/* ******* SORT LINKS ******** */
 
#sort_box { font-size: 0.9em; margin-bottom: 1.0em;}
.sort_menu li { display: inline; margin: 0 0.3em 0 0.3em; padding: 0;}
.sort_menu li a, .sort_menu li.active a { padding: 0.2em; }
.sort_menu li.active { font-weight: bold; background-color: #262626; padding: 0.2em; }
.sort_menu li.active a {color: #fff; }
.sort_menu li a:hover { background-color: #262626; color: #fff; padding: 0.2em; }

/* ******* POST CSS ******** */

.show_post { margin-bottom: 1.2em; margin-top:0; position: relative; }

.avatar_wrapper a, .avatar_wrapper span { float: left; padding: 0 0.6em 0.2em 0; } /* span for anonymous avatars */

.show_post_title { font-size: 1.2em; font-weight: bold; margin-bottom: 0; }
.show_post_author_date { font-size: 0.825em; color:#428C9B; }
.show_post_content { margin: 0.4em 0 0.4em 0; overflow: hidden; width: 100%; }

.show_post_edit	{ }
.show_post_delete { }

.show_post_extra_fields ul li { display: inline-block; margin-right: 1.0em;}
.show_post_extra_fields ul li a { font-weight: normal; text-decoration: none; }
.show_post_extra_fields ul li a:hover {  }

.show_post_extras { margin-bottom: 0.2em; }
.show_post_extras ul li { display: inline; margin-right: 0.6em;}

.show_post ul { margin-left:0; padding-left: 0;}

.show_post_avatar_overlay { position: absolute; right: 0px;z-index: 999;top: 0px; }

/* ***********************************
 * ******** FLAGGED MESSAGE **********
 * ********************************* */
 
 .alert_link {   }
 
 .alert_choices {
	display:inline; 
	        
 }